<div class="contact-container">
    <h2>Contact Us</h2>
    <p>Email: support&#64;angelstore.com</p>
    <p>Phone: +91 98765 43210</p>
  
    <h3>Our Location</h3>
    <h5>street no.12,2nd street,pondy bazaar,Tnagar</h5>
    <img src="http://localhost:8090/chennai.jpeg" />
    <h5>street no.12,2nd street,pondy bazaar,Hyderabad</h5>
    <img src="http://localhost:8090/hyd.jpeg" />




    <h3>Send us a message</h3>
    <form>
      <input type="text" placeholder="Your Name" required>
      <input type="email" placeholder="Your Email" required>
      <textarea placeholder="Your Message" required></textarea>
      <button type="submit">Send</button>
    </form>
  </div>
  