<div class="home-container">
    <!-- Banner Section -->
    <div class="banner"></div>
    <div>
      <h1>Angel Store</h1>
      <h3>Welcome to Angel Store - Dream store for all jewelery lovers. Your one-stop destination for Jewelry & Cosmetics</h3>
      <a routerLink="/products" class="shop-now-btn">Shop Now</a>
    </div>
    <div class="contact-content">
      <p>We would love to hear from you! Whether you have questions about our products, need assistance with an order, or just want to say hello, feel free to reach out.</p>
      <p>Our support team is available 24/7 to assist you with any inquiries.</p>
      <p>Visit our stores in Chennai and Hyderabad or contact us via email or phone.</p>
    </div>
    
  
    <!-- Featured Categories -->
    <div class="categories">
      <h2>Our Collections</h2>
      <div class="category-grid">
        <div class="category-item">
          <img src="/assets/jewelrybanner.jpeg" alt="Jewelry">
          <a routerLink="/products/jewelry">Shop Jewelry</a>
        </div>
        <div class="category-item">
          <img src="/assets/cosmeticsbanner.jpeg" alt="Cosmetics">
          <a routerLink="/products/cosmetics">Shop Cosmetics</a>
        </div>
      </div>
    </div>
  </div>
  
