.home-container {
    text-align: center;
  }
  
  .banner {
    background: url('/assets/jewelrybanner.jpeg') no-repeat center center/cover;
    color: white;
    padding: 50px 20px;
  }
  
  .shop-now-btn {
    background: gold;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .categories {
    margin-top: 30px;
  }
  
  .category-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .category-item {
    text-align: center;
  }
  
  .category-item img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
  }
  